<div *ngIf="heros.tipo=='H' " class="card animated fadeIn fast">
    <!-- <img src="{{heros.img}}" class="card-img-top" alt="{{heros.nombre}}"> -->
    <img [src]="heros.img" class="card-img-top" [alt]="heros.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heros.nombre}}</h5>
        <p class="card-text">{{heros.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heros.aparicion}}</small></p>
        <button type="button" (click)="verHeroe()" class="btn btn-outline-primary btn-block">Ver mas...</button>
    </div>
</div>